<html ng-app="tabApp">
<head>
	<title>Animated Tab Directive</title>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="style.css"/>
</head>
<body>

<header ng-controller="tabCtrl">
	<div class="wrapper">
		<nav animated-tabs>
			<a href="#" ng-click="navigate($event)">Animated</a>
			<a href="#" ng-click="navigate($event)">Tabs</a>
			<a href="#" ng-click="navigate($event)">Directive</a>
			<a href="#" ng-click="navigate($event)">Example</a>
		</nav>
	</div>
</header>


<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.7/angular.js"></script>
<script src="./js/app.js"></script>
<script src="./js/tabCtrl.js"></script>
<script src="./js/tabDirective.js"></script>


</body>
</html>